<form #f="ngForm" (ngSubmit)="onSubmit(f)">

  <div class="col-sm-6 form-group">
    <label for="firstName">First name:</label>
    <input type="text" name="firstName" id="firstName" class="form-control" [(ngModel)]="user.firstName" />
  </div>

  <div class="col-sm-6 form-group">
    <label for="lastName">Last name:</label>
    <input type="text" name="lastName" id="lastName" class="form-control" [(ngModel)]="user.lastName" />
  </div>

  <div class="col-sm-6 form-group">
    <label for="email">Email:</label>
    <input type="text" name="email" id="email" class="form-control" [(ngModel)]="user.email" />
  </div>

  <div class="col-sm-6 form-group">
    <label for="phone">Phone:</label>
    <input type="text" name="phone" id="phone" class="form-control" [(ngModel)]="user.phone" />
  </div>

  <div class="col-sm-12">
    <button type="submit" class="btn btn-primary">Add user</button>
  </div>

</form>